@model ErrorViewModel
@{
ViewData["Title"] = "Error";
}

    <h1 class="text-danger">
    Error.
    </h1>
    <h2 class="text-danger">
    An error occurred while processing your request.
    </h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>
        Request ID:
        </strong>
        <code>
        @Model.RequestId
        </code>
    </p>
}

    <h3>
    Development Mode
    </h3>
    <p>
        <strong>
        Development
        </strong>
    </p>
    <p>
        <strong>
        The Development environment shouldn't be enabled for deployed applications.
        </strong>
    It can result in displaying sensitive information from exceptions to end users.
        <strong>
        Development
        </strong>
        <strong>
        ASPNETCORE_ENVIRONMENT
        </strong>
        <strong>
        Development
        </strong>
    and restarting the app.
    </p>